.bordo{
    border: 1px solid black;
}
.centra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spazia{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sotto{
    display: block;
    align-items: center;
    justify-content: center;
}